<div class="login-doctor-navbar">
  <span class="login-doctor-navbar-title">Bienvenido al Módulo de Doctor</span>
</div>
<div class="login-doctor-container">
  <form class="login-doctor-form">
  <h2>Ingreso al Módulo de Doctor</h2>
  <label for="nombre">Nombre:</label>
  <input id="nombre" name="nombre" type="text" required placeholder="Ingrese su nombre" />

  <label for="correo">Correo:</label>
  <input id="correo" name="correo" type="email" required placeholder="Ingrese su correo" />

  <label for="contrasena">Contraseña:</label>
  <input id="contrasena" name="contrasena" type="password" required placeholder="Ingrese su contraseña" />

  <button type="submit"><span>Ingresar</span></button>
  </form>
</div>
